* {
  margin: 0em;
  padding: 0em;
}
html {
  width: 100%;
}
body {
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #1F2122;
  background-image: url('https://cdn.broadcasthe.net/styles/public/images/shadow.png');
  background-attachment: fixed;
  background-size: cover;
  color: #E9E9E9;
  font-family: tahoma, helvetica, sans-serif;
  font-size: 8pt;
  width: 100%;
}
a {
  border: none;
  color: #999999;
  text-decoration: none;
}
a:hover {
  color: #319bc2 !important;
  text-decoration: none;
}
a.similar_artist {
  background-color: #444444;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: block;
  padding: 1px 4px;
}
a.similar_artist:hover {
  background-color: #555555;
}
.similar_artist_header {
  background-color: #666666;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 3px 5px;
}
a.permission_15 {
  color: #3cff00;
  font-weight: bold;
}
.permission_15 {
  color: #3cff00;
  font-weight: bold;
}
a.permission_42 {
  color: #3cff00;
  font-weight: bold;
}
.permission_42 {
  color: #3cff00;
  font-weight: bold;
}
a.permission_1 {
  color: #33ff33;
  font-weight: bold;
}
.permission_1 {
  color: #33ff33;
  font-weight: bold;
}
a.permission_11 {
  color: #99ff99;
}
.permission_11 {
  color: #99ff99;
}
a.permission_36 {
  color: #66ff66;
}
.permission_36 {
  color: #66ff66;
}
a.permission_37 {
  color: #33ff33;
  color: #9933ff;
}
.permission_37 {
  color: #33ff33;
  color: #9933ff;
}
a.permission_31 {
  color: #33ff33;
  font-weight: bold;
}
.permission_31 {
  color: #33ff33;
  font-weight: bold;
}
a.permission_14 {
  color: #99ff99;
}
.permission_14 {
  color: #99ff99;
}
a.permission_32 {
  color: #0066ff;
}
.permission_32 {
  color: #0066ff;
}
a.permission_26 {
  color: #0066ff;
}
.permission_26 {
  color: #0066ff;
}
a.permission_29 {
  color: #0066ff;
}
.permission_29 {
  color: #0066ff;
}
a.permission_30 {
  color: #0066ff;
}
.permission_30 {
  color: #0066ff;
}
a.permission_34 {
  color: #0066ff;
}
.permission_34 {
  color: #0066ff;
}
a.permission_2 {
  color: #ffffff;
}
.permission_2 {
  color: #ffffff;
}
a.permission_3 {
  color: #cccccc;
}
.permission_3 {
  color: #cccccc;
}
a.permission_4 {
  color: #ffff99;
}
.permission_4 {
  color: #ffff99;
}
a.permission_5 {
  color: #ffff33;
}
.permission_5 {
  color: #ffff33;
}
a.permission_24 {
  color: #f87431;
}
.permission_24 {
  color: #f87431;
}
a.permission_7 {
  color: #ff3300;
}
.permission_7 {
  color: #ff3300;
}
a.permission_33 {
  color: #ff00ff;
}
.permission_33 {
  color: #ff00ff;
}
a.permission_38 {
  color: #9933ff;
}
.permission_38 {
  color: #9933ff;
}
a.permission_6 {
  color: #9933ff;
}
.permission_6 {
  color: #9933ff;
}
a.permission_9 {
  color: #9933ff;
}
.permission_9 {
  color: #9933ff;
}
a.permission_8 {
  color: #9966ff;
}
.permission_8 {
  color: #9966ff;
}
a.permission_28 {
  color: #9900cc;
}
.permission_28 {
  color: #9900cc;
}
a.permission_35 {
  color: #9933ff;
}
.permission_35 {
  color: #9933ff;
}
a.permission_10 {
  color: #ffff66;
}
.permission_10 {
  color: #ffff66;
}
a.permission_12 {
  color: #cc0000;
}
.permission_12 {
  color: #cc0000;
}
a.permission_13 {
  color: #996666;
}
.permission_13 {
  color: #996666;
}
a.permission_22 {
  color: #ff7100;
}
.permission_22 {
  color: #ff7100;
}
a.permission_25 {
  color: #660033;
}
.permission_25 {
  color: #660033;
}
a.permission_27 {
  color: #00ffcc;
}
.permission_27 {
  color: #00ffcc;
}
h1,
h2,
h3,
h4 {
  font-family: tahoma, helvetica, sans-serif;
  font-weight: bold;
  margin: 5px 0px;
}
h2 {
  color: #ffffff;
  font-size: 12pt;
  text-align: center;
}
h3 {
  color: #ffffff;
  font-size: 10pt;
  text-align: center;
}
h4 {
  font-size: 8pt;
}
p {
  margin: 10px 5px;
}
li {
  margin: 5px 15px;
}
input {
  background-color: #333333;
  border: 1px solid #666666;
  color: #ffffff;
  font-family: Tahoma;
  font-size: 11px;
  outline: none;
  padding: 2px 3px;
}
input:hover {
  border: 1px solid #aaaaaa;
}
input:focus {
  border: 1px solid #aaaaaa;
}
select {
  background-color: #333333;
  border: 1px solid #666666;
  color: #ffffff;
  font-family: Tahoma;
  font-size: 11px;
  outline: none;
}
select:hover {
  border: 1px solid #aaaaaa;
}
select:focus {
  border: 1px solid #aaaaaa;
}
textarea {
  background-color: #333333;
  border: 1px solid #666666;
  color: #ffffff;
  font-family: Tahoma;
  font-size: 11px!important;
  outline: none;
  padding: 2px 3px;
}
textarea:hover {
  border: 1px solid #aaaaaa !important;
}
textarea:focus {
  border: 1px solid #aaaaaa !important;
}
img {
  border: none;
}
.bbcodetextbox {
  -webkit-border-radius: 0px!important;
  border-radius: 0px!important;
}
.r00 {
  color: #FF0000!important;
}
.r01 {
  color: #ff1300;
}
.r02 {
  color: #ff1300;
}
.r03 {
  color: #FF2600;
}
.r04 {
  color: #FF4C00;
}
.r05 {
  color: #ff5e00;
}
.r06 {
  color: #ff5e00;
}
.r07 {
  color: #ff7100;
}
.r08 {
  color: #FF9700;
}
.r09 {
  color: #FFAA00;
}
.r10 {
  color: #74C42E;
}
.r20 {
  color: #418b00;
}
.r50 {
  color: #418b00;
}
.r99 {
  color: #418b00 !important;
}
span.size1 {
  font-size: 0.75em;
}
span.size2 {
  font-size: 1em;
}
span.size3 {
  font-size: 1.25em;
}
span.size4 {
  font-size: 1.5em;
}
span.size5 {
  font-size: 1.75em;
}
span.size6 {
  font-size: 2em;
}
span.size7 {
  font-size: 2.25em;
}
span.size8 {
  font-size: 2.5em;
}
span.size9 {
  font-size: 2.75em;
}
span.size10 {
  font-size: 3em;
}
ul.thin {
  margin: 0px 0px 0px 25px;
  padding: 0px;
}
ul.thin li {
  margin: 0px 0px;
  padding: 0px;
}
#header {
  padding: 0px 0 0 0;
  position: relative;
  width: 100%;
}
#content {
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  width: 90%;
}
#content .home .main_column {
  width: 590px;
}
#content .home .main_column .head {
  width: 570px;
}
#content .home .main_column .of_the_month .head {
  width: 270px;
}
#content .home .main_column .of_the_month .box {
  width: 280px;
}
#content .home .box {
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 42px 5px 10px;
}
#content .home .head {
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid #222222;
  margin-top: -22px;
  position: absolute;
}
#content .home .sidebar .head {
  width: 230px;
}
#wrapper {
  -moz-border-radius: 0.75em;
  -webkit-border-radius: 0.75em;
  background: url('https://cdn.broadcasthe.net/styles/darknround/images/t2.png');
  border-radius: 0.75em;
  border: 4px solid #161616;
  margin: 5px auto;
  padding: 0px 5px 0px 5px;
  width: 1280px;
}
#footer {
  color: #ffffff;
  margin-top: 40px;
  padding: 1em 0;
  text-align: center;
  width: 90%;
}
#DonInfo {
  font-family: Verdana;
  font-size: 9px;
  text-indent: 3pt!important;
}
#DonInfo a {
  color: #ffffff !important;
}
#logo {
  background-image: url('https://cdn.broadcasthe.net/styles/darknround/images/banner-alt2.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: 140px;
  margin-bottom: 10px;
  margin-left: 7px;
  width: 90%;
}
#logo a {
  border: none;
  display: block;
  height: 140px;
  width: 90%;
}
#logo a:hover {
  border: none;
}
#quickpost {
  color: #eeeeee !important;
  font-size: 11px!important;
}
#userinfo {
  position: relative;
}
#userinfo ul {
  margin-right: 90px;
}
#userinfo ul li {
  display: inline;
  line-height: 20px;
  margin: 0 0.1em;
  padding: 2px;
  vertical-align: middle;
}
#userinfo a {
  color: #ffffff;
}
#userinfo a:hover {
  text-decoration: none;
}
#userinfo b a {
  font-size: 0.9em;
  font-weight: normal;
}
#userinfo span.stat {
  color: #ffffff;
}
#userinfo_username {
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  background-color: #202020;
  border-radius: 1.25em;
  border: 1px solid #202020;
  color: #319bc2;
  font-weight: bold;
  list-style: none;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 5px;
  position: absolute;
  right: 160px;
  text-shadow: 1px 1px 1px #111111;
  top: -145px;
  z-index: 1001;
}
#userinfo_username li {
  display: block!important;
  padding: 0 25px 0 0!important;
  text-align: right;
}
#userinfo_username .brackets:before {
  content: "[";
}
#userinfo_username .brackets:after {
  content: "]";
}
#userinfo_stats {
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  background-color: #202020;
  border-radius: 1.25em;
  border: 1px solid #202020;
  color: #319bc2;
  display: inline;
  font-weight: bold;
  list-style: none;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 5px;
  position: absolute;
  right: 65px;
  text-align: left;
  text-shadow: 1px 1px 1px #111111;
  top: -50px;
  width: auto;
  z-index: 1001;
}
#userinfo_major {
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  background-color: #202020;
  border-radius: 1.25em;
  border: 1px solid #202020;
  color: #319bc2;
  display: block;
  list-style: none;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 5px;
  position: absolute;
  right: 65px;
  text-shadow: 1px 1px 1px #111111;
  top: -145px;
  z-index: 1001;
}
#userinfo_major li {
  display: block!important;
  padding: 0 0 0 25px!important;
  text-align: left;
}
#userinfo_major a {
  font-weight: bold;
}
#userinfo_major .brackets:before {
  content: "[";
  font-weight: bold;
}
#userinfo_major .brackets:after {
  content: "]";
  font-weight: bold;
}
#userinfo_minor {
  font-size: 8pt;
  left: 50%;
  list-style-type: none;
  margin-left: -492px;
  padding: 2px 5px 2px 5px;
  position: absolute;
  text-align: right;
  top: -119px;
  width: 1275px;
  z-index: -1;
}
#userinfo_minor a {
  color: #ffffff;
  margin-right: 2px;
}
#userinfo_minor a:hover {
  color: #ffffff;
}
#searchbars {
  padding: 4px 0px;
  text-align: center;
  width: 100% px;
}
#searchbars input {
  background-color: #333333;
  border: 1px solid #444444;
  box-shadow: 0 0 3px black inset;
  color: #777777;
  font-size: 0.9em;
  padding: 5px 5px 5px 5px;
  position: relative;
}
#searchbars input:hover {
  border: 1px solid #555555;
  color: #dddddd;
}
#searchbars input:focus {
  border: 1px solid #999999;
  color: #ffffff;
}
#searchbars ul {
  margin: 0 auto;
}
#searchbars ul li {
  display: inline;
  margin: 0px 1px;
  padding: 10px;
}
#searchbars ul li form {
  display: inline;
}
#alerts {
  margin: 5px auto;
  width: 90%;
}
#alerts a {
  color: #cccccc;
}
.alertbar.blend {
  background-color: #222222;
  border: 1px solid #303030;
}
.newmem {
  background-color: #222222;
  color: #cccccc;
  font-size: 0.95em;
  font-weight: bold;
  margin: 0px auto;
  padding: 5px;
  text-align: center;
  width: 350px;
}
#cat-selector ul {
  width: 100%;
}
#cat-selector ul li {
  display: inline;
  float: left;
  height: 1em;
  width: 12em;
}
div.bbcode-btntoolbar {
  background: none repeat scroll 0 0 #202020 !important;
  border-left: 0px hidden!important;
  border-right: 0px hidden!important;
}
div.bbcode-smileys {
  background: none repeat scroll 0 0 #202020 !important;
  border-left: 0px hidden!important;
  border-right: 0px hidden!important;
}
div.contenth textarea {
  background: #282828 !important;
  border: 1px solid #3c3c3c !important;
}
div.contenth textarea:hover {
  border: 1px solid #aaaaaa !important;
}
div.contenth textarea:focus {
  border: 1px solid #aaaaaa !important;
}
.headh {
  border-left: 0px hidden!important;
  border-right: 0px hidden!important;
}
.alertbar {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: #202020;
  background-color: #222222;
  border-radius: 0.875em;
  border: 1px solid #202020;
  color: #cccccc;
  font-size: 0.95em;
  font-weight: bold;
  list-style: none;
  margin: 0px auto;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding: 7px;
  text-align: center;
  width: 600px;
}
.alertbar a {
  color: #555555;
  text-decoration: underline;
}
.alertbar a:hover {
  color: #ffff88;
  text-decoration: none;
}
.hidden {
  left: -10000px;
  position: absolute;
}
input.hidden {
  display: none;
  position: absolute;
}
.thin {
  margin: auto;
  width: 850px;
}
div.linkbox {
  padding: 5px;
  text-align: center;
}
.center {
  text-align: center;
}
.center h3 {
  font-size: 10pt;
  padding-top: 4px;
}
.right {
  text-align: right;
}
.min_padding {
  margin: 0px 0px;
  padding: 0px;
}
p.min_padding {
  margin: 2px 0px;
}
.pad {
  padding: 1em;
}
.ui-state-hover {
  color: #000000 !important;
}
a.ui-state-hover {
  color: #000000 !important;
}
li.ui-state-hover {
  color: #000000 !important;
}
.vertical_space {
  margin-bottom: 10px;
}
.box {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: #202020;
  border-radius: 0.875em;
  border: 1px solid #202020;
  color: white;
  font-size: 8pt;
  list-style: none;
}
.welcome {
  background-color: #282828;
  border: 1px solid #303030;
  font-size: 10pt;
}
.pad h3,
.pad h4,
.padbox h3,
.padbox h4 {
  margin-top: 0px;
  padding-top: 0px;
}
.contenth,
.b1h,
.b2h,
.b2bh,
.b3h,
.b3bh,
.b4h,
.b4bh {
  background: none repeat scroll 0 0 #202020 !important;
}
.contenth {
  border-left: 0px hidden!important;
  border-right: 0px hidden!important;
  color: #ffffff !important;
}
.sidebar {
  float: right;
  height: 100%;
  width: 250px;
}
.sidebar .box {
  margin: 0px 5px 10px 5px;
}
.head {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: #3d3d3d;
  border-radius: 0.875em;
  border: 1px solid #3d3d3d;
  color: #ffffff;
  font-weight: bold;
  list-style: none;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
.body {
  padding: 3px 10px 10px 10px;
}
.main_column {
  float: left;
  margin: 0px 0px 10px 0px;
  width: 590px;
}
.main_column .box {
  margin-bottom: 10px;
}
.main_column table {
  margin-bottom: 10px;
}
.tags {
  font-style: italic;
  padding: 0px 0px 0px 20px;
}
.tags a {
  color: #7e7e7e;
}
.tags a:hover {
  color: #ffff88;
  text-decoration: none;
}
.noborder {
  border: none;
}
ul.nobullet {
  list-style-type: none;
}
table {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: #3d3d3d;
  border-radius: 0.875em;
  border: 1px solid #3d3d3d;
  list-style: none;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  width: 100%;
}
tr {
  background-color: #202020;
  border: 1px solid #3d3d3d;
}
tr.rowa {
  background-color: #222222;
}
td {
  border: 1px solid #3d3d3d;
  padding: 5px;
}
td.tdleft {
  border: 1px solid #3d3d3d;
  padding: 5px;
  text-align: left;
}
td.tdcenter {
  border: 1px solid #3d3d3d;
  padding: 5px;
  text-align: center;
}
td.tdright {
  border: 1px solid #3d3d3d;
  padding: 5px;
  text-align: right;
}
.forum_group_header {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: #3d3d3d;
  border-radius: 0.875em;
  border: 1px solid #3d3d3d;
  color: #ffffff;
  font-weight: bold;
  list-style: none;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
}
.colhead {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: #3d3d3d;
  border-radius: 0.875em;
  border: 1px solid #3d3d3d;
  color: #ffffff;
  font-weight: bold;
  list-style: none;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
.colhead td {
  padding-left: 10px;
  padding-right: 10px;
}
.colhead .sign {
  font-size: 12pt;
  font-weight: bold;
  padding: 0px 8px 0px 8px;
  text-align: center;
  vertical-align: middle;
}
td.colhead {
  padding-left: 10px;
  padding-right: 10px;
}
.colhead_dark {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: #3d3d3d;
  border-radius: 0.875em;
  border: 1px solid #3d3d3d;
  color: white;
  font-weight: bold;
  list-style: none;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  vertical-align: middle;
}
.colhead_dark a {
  color: #ffffff;
}
.colhead_dark .sign {
  font-size: 12pt;
  font-weight: bold;
  padding: 0px 8px 0px 8px;
  text-align: center;
  vertical-align: middle;
}
ul.navigation {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: #3d3d3d;
  border-radius: 0.875em;
  border: 1px solid #3d3d3d;
  color: white;
  font-weight: bold;
  list-style: none;
  margin: 0px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  text-align: center;
}
ul.navigation li {
  display: inline;
  margin-right: 10px;
}
ul.navigation a {
  color: #ffffff;
  padding: 5px;
  text-decoration: none;
}
ul.navigation a:hover {
  background-color: #222222 !important;
  color: #000000;
}
ul.navigation a:focus {
  background-color: #111111 !important;
  color: #ffffff !important;
  outline: none;
}
ul.navigation a.selected {
  background-color: #111111 !important;
  color: #ffffff !important;
}
td.label {
  font-weight: bold;
  text-align: right;
  width: 180px;
}
table.slice {
  margin-top: -1px;
}
.error_message {
  background-color: #AF2525;
  border: 1px solid #666666;
  color: white;
  font-weight: bold;
  padding: 3px 0px 3px 0px;
  text-align: center;
}
.save_message {
  background-color: #F4E649;
  border: 1px solid #666666;
  color: #492802;
  font-weight: bold;
  padding: 3px 0px 3px 0px;
  text-align: center;
}
.elem_error {
  border: 3px solid #B00D0D;
}
.hide {
  display: none;
}
ul.stats li {
  padding: 0px 0px 1px 0px;
}
ul.poll li {
  margin: 0px;
  padding: 0px 0px 0px 10px;
}
ul.poll li.graph {
  margin-bottom: 3px;
  padding-left: 20px;
}
.show_torrents_link {
  border: none;
  display: block;
  height: 28px;
  width: 28px;
}
.filter_torrents {
  margin: auto;
  width: 750px;
}
.filter_torrents .submit {
  padding-top: 5px;
  text-align: right;
}
.cat_list tr td {
  border: none;
}
.torrent_table tr {
  vertical-align: top;
}
.torrent_table tr .center {
  text-align: center;
  vertical-align: middle;
}
.torrent_table tr.group_torrent {
  background-color: #222222;
}
.torrent_table tr.group_torrent .year {
  float: right;
}
.torrent_table tr.group_torrent td a span {
  float: left;
  white-space: pre;
}
.torrent_table tr.group_torrent:hover {
  background-color: #3d3d3d;
}
.torrent_table tr.group_torrent.first {
  border-top-width: 4px;
}
.torrent_table td.group {
  border: none;
}
.torrent_table .group {
  background-color: #2b2b2b;
}
.torrent_table div.tags {
  font-weight: normal;
}
tr.torrent {
  background-color: #222222;
}
.season {
  color: #ff2419;
}
.episode {
  color: #385cf7;
}
.number {
  text-align: right;
}
.group_torrent span {
  float: right;
}
.torrent span {
  float: right;
  font-weight: normal;
}
.torrent span img {
  vertical-align: text-top;
}
.nobr {
  white-space: nowrap;
}
.TS {
  color: #ff00c8;
}
.MPEG {
  color: #ff0050;
}
.MP4 {
  color: #be0000;
}
.MKV {
  color: #ff4100;
}
.M4V {
  color: #ff6e00;
}
.AVI {
  color: #ffaf00;
}
.Internal {
  color: #58ff00;
}
.None {
  color: #e89ba0;
}
.\0D\0D\0D {
  color: #e89ba0;
}
.P2P {
  color: #ae83cc;
}
.Scene {
  color: #95ccb6;
}
.User {
  color: #faf18b;
}
table.forum_post {
  margin: 10px 0px;
}
table.forum_post td {
  border: 1px solid #303030;
}
table.forum_post td.body {
  width: 690px;
}
table.forum_unread {
  border: 2px solid #cccccc;
}
td.avatar {
  padding: 0px;
  width: 150px;
}
blockquote {
  border: 1px dashed #666666;
  margin: 10px;
  padding: 10px;
}
.signature {
  border-top: 1px dotted #666666;
  margin: 2em 0 0 0;
  padding: .5em 0 0 0;
}
div.user_details {
  padding: 5px;
}
tr.unreadpm {
  background-color: #692222;
}
.permission_head {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.permissions {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
}
.permission_container {
  float: left;
  padding: 5px;
  width: 300px;
}
.permission_container input {
  margin: 0px 3px 5px 0px;
  vertical-align: top;
}
.submit_container {
  clear: both;
  text-align: right;
}
ul .invitetree {
  margin: 0px 0px 0px 25px;
}
.invitetree li {
  list-style: none;
  margin: 10px 2px;
}
#left_poll {
  background: url('http://static.broadcasthe.net/styles/smpte/bar_left.gif') no-repeat center center;
  float: left;
  height: 9px;
  margin: 0px;
  padding: 0px;
  width: 2px;
}
#center_poll {
  background: #3E3E3E;
  float: left;
  height: 9px;
  margin: 0px;
  padding: 0px;
}
#right_poll {
  background: url('https://cdn.broadcasthe.net/styles/smptev2/images/bar_right.gif') no-repeat center center;
  float: left;
  height: 9px;
  margin: 0px;
  padding: 0px;
  width: 2px;
}
.curtain {
  -moz-opacity: 0.8;
  background-color: black;
  display: none;
  filter: alpha(opacity=80);
  height: 100%;
  left: 0%;
  opacity: .80;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1001;
}
.lightbox {
  display: none;
  height: 90%;
  left: 5%;
  overflow: auto;
  padding: 0px;
  position: fixed;
  text-align: center;
  top: 5%;
  width: 90%;
  z-index: 1002;
}
table#torrent_table.torrent_table {
  margin: auto;
  width: 1100px;
}
form tr {
  background-color: #222222;
}
pre {
  border: 1px dashed #666666;
  color: #ffffff;
  margin: 10px;
  padding: 10px;
}
#donation {
  color: #333333;
  display: inline;
  font-size: 8pt;
  padding: 0.6em 0;
  position: absolute;
  right: 130px;
  text-align: center;
  top: 75px;
  width: 120px;
  z-index: 1002;
}
#forums .box {
  margin: 0 auto;
  width: 850px;
}
.tickets_search {
  font-size: 8pt;
  margin-left: auto;
  margin-right: auto;
}
.tickets_categories {
  float: left;
  padding: .5em;
  text-align: left;
}
.tickets_status {
  float: right;
  padding: 0.5em;
  text-align: left;
}
.small_label {
  font-weight: bold;
  text-align: right;
  width: 0%;
}
.filter_tickets {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
}
.filter_tickets .submit {
  padding-top: 5px;
  text-align: right;
}
.rank {
  font: small-caps 2.4em Georgia, "Times New Roman", Times, serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  position: relative;
  text-align: center;
  width: 86px;
}
.rank img {
  clear: both;
}
.rankimghide {
  display: none;
  margin: 0px;
  padding: 0px;
}
.review_row {
  margin: 10px 25px;
}
.inline_rank {
  font: small-caps 1.4em Georgia, "Times New Roman", Times, serif;
  left: 14px;
  position: relative;
  top: 80px;
}
.inline_rank img {
  width: 2%;
}
.review_title {
  font: small-caps 2.1em Georgia, "Times New Roman", Times, serif;
  margin-left: 17px;
}
.review_body {
  float: right;
  margin: 6px 0px 0px 0px;
  overflow: auto;
  padding: 1px;
  width: 765px;
}
.review_details {
  float: right;
  font-style: italic;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-top: 5px;
}
.review_search {
  margin: auto;
  text-align: center;
  width: 1200px;
}
.review_search input {
  text-align: center;
  width: 400px;
}
#searchbutton {
  display: none;
}
.left_tabs {
  float: left;
  width: 100px;
}
a.tab {
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  background-color: rgba(69, 69, 69, 0.35);
  color: #ffffff;
  display: block;
  font-weight: bold;
  padding: 4px;
  text-align: center;
  text-transform: lowercase;
}
a.tab:hover {
  background-color: rgba(69, 69, 69, 0.55);
  text-decoration: none;
}
.home .sidebar {
  float: left;
}
.home .main_column {
  float: right;
  margin: 0px 0px 10px 0px;
}
.home .box > .pad {
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #111111;
}
.home .box > ul {
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #111111;
}
.home .extrapad {
  padding: 1em;
}
.home table {
  border: 0;
}
.home th {
  padding: 5px;
  text-align: left;
}
.home th:first-child {
  -moz-border-radius-topleft: 6px;
  border-right: 1px solid black;
  border-top-left-radius: 6px;
}
.home th:last-child {
  -moz-border-radius-topright: 6px;
  border-left: 1px solid black;
  border-top-right-radius: 6px;
}
.home td {
  border: 0;
}
.home tr.colhead {
  border-bottom: 1px solid black;
  border: 0;
}
.home .of_the_month ul {
  font-size: 130%;
}
.home .of_the_month ul b {
  color: white;
}
.home .month_rating {
  font-family: "Arial Black";
  font-size: 40px;
}
a.tab#selected {
  background-color: rgba(145, 168, 175, 0.3);
}
div.thin2 {
  float: left;
  margin: auto;
  width: 1200px;
}
#menu {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: #202020;
  border-radius: 0.875em;
  border: 1px solid #161616;
  font-size: 1em;
  line-height: 30px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: -26px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  text-align: center;
  text-shadow: 1px 1px 1px #111111;
  width: 960px;
}
#menu ul li a {
  color: #ffffff;
  font-weight: bold;
}
#menu ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}
#menu1 {
  display: inline-block;
  list-style: none;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: left;
}
.potato-menu:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0.1em;
  height: 0.1px;
  line-height: 0;
  visibility: hidden;
}
ul.potato-menu li.potato-menu-item {
  display: inline;
  float: left;
  list-style-position: outside;
  list-style: none;
  margin: 0!important;
  position: relative;
}
ul.potato-menu li.potato-menu-item a {
  display: block;
  height: 30px;
  line-height: 30px !important;
  outline: 0;
  overflow: hidden!important;
  padding: 0 20px;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}
ul.potato-menu ul.potato-menu-group {
  -webkit-padding-end: 0;
  -webkit-padding-start: 0;
  background: rgba(5, 5, 5, 0.85);
  display: none;
  margin: 0;
  padding: 0!important;
  position: absolute;
  text-align: left;
  width: 160px;
  z-index: 1000;
}
ul.potato-menu ul.potato-menu-group li {
  margin: 0!important;
  padding: 0!important;
}
ul.potato-menu ul.potato-menu-group a {
  display: block!important;
  padding: 0px 10px!important;
  width: 140px;
}
ul.potato-menu ul.potato-menu-group a:hover {
  background-color: rgba(40, 40, 40, 0.85) !important;
  background-image: none!important;
  color: #319bc2 !important;
}
div#twitter {
  margin-bottom: 2em;
  padding-bottom: 1px;
  width: 22.5em;
}
div#twitter h2 {
  color: #ffffff;
  font-size: 1.1em;
  margin: 0;
  padding: 0.4em 1em;
}
p#preloader {
  margin: 0;
  padding: 1em 1em 1em 3em;
}
ul#twitter_update_list {
  list-style-type: none;
  margin: 0;
  padding: 0 1em 0.5em 1em;
}
ul#twitter_update_list li {
  border-bottom: 1px solid #cccccc;
  margin: 0;
  padding: 0.8em 0 1em 0;
}
ul#twitter_update_list li a {
  color: #ffffff;
}
ul#twitter_update_list li span {
  display: block;
}
ul#twitter_update_list li span a {
  color: #cccccc;
}
ul#twitter_update_list li.lastTweet {
  border-bottom: none;
}
.profileLink a {
  border-top: 1px solid #cccccc;
  color: #ffffff;
  display: block;
  padding: 0.3em 1em;
}
div#gift {
  height: 1px;
  left: 895px;
  position: relative;
  top: 130px;
  width: 1px;
  z-index: 999;
}
.button {
  background: url("https://cdn.broadcasthe.net/styles/smptev2/images/buttons.gif") no-repeat scroll center -34px transparent;
  border: 0 solid #131313;
  color: #eeeeee;
  height: 30px;
  letter-spacing: 1px;
  line-height: 16px;
  overflow: visible;
  padding: 5px 12px;
  text-transform: uppercase;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}
#reseed.hide {
  display: block;
}
a.permission_46 {
  color: #99ff99;
}
.permission_46 {
  color: #99ff99;
}
a.permission_45 {
  color: #99ff99;
}
.permission_45 {
  color: #99ff99;
}
#torrents .sign {
  position: relative;
  width: 15px;
  height: 15px;
  background-position: center;
  text-align: center;
}
#torrents .sign img {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  width: 15px;
  height: 15px;
}
#torrents .sign:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 11px;
  height: 15px;
  background: url(https://cdn.broadcasthe.net/styles/smptev3/images/seeders.png) no-repeat center;
  background-size: 11px 15px;
}
#torrents .sign:nth-child(3n):after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  background: url(https://cdn.broadcasthe.net/styles/smptev3/images/snatched.png) no-repeat center;
}
#torrents .sign:nth-child(4n):after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 11px;
  height: 15px;
  background: url(https://cdn.broadcasthe.net/styles/smptev3/images/leechers.png) no-repeat center;
  background-size: 11px 15px;
}
div.leftbar {
  margin-left: 160px;
}
div.leftbar li {
  list-style-type: none;
}
