dialog::backdrop,
dialog + .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.alertify {
  color: #000000;
  z-index: 2000;
}
.alertify div.dialog > div {
  border-radius: 10px;
  font-size: 0.8rem;
}
.alertify button {
  border-radius: 5px !important;
}
.alertify button.ok {
  background-color: green !important;
  color: white !important;
}
.alertify button.cancel {
  background-color: red !important;
  color: white !important;
}
.alertify input[type='text'] {
  background-color: white !important;
  color: black;
}
.alertify-logs {
  z-index: 2000;
  text-align: left !important;
  font-size: 0.8rem;
}
.alertify-logs div {
  border-radius: 3px;
  display: inline;
}
.alertify-logs > *,
.alertify-logs > .default {
  background-color: rgba(0, 0, 0, 0.9);
}
.alertify-logs > .show {
  border-radius: 10px;
}
.alertify-logs > .error {
  background-color: rgba(244, 67, 54, 0.9);
}
.alertify-logs a {
  color: lightskyblue;
}
#preferences_dialog {
  background: white;
  width: 800px;
  text-align: center;
  padding: 1.5em;
  margin: 1em auto;
  border: 0;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}
#preferences_dialog button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.4rem 0.8em;
  background: #69c773;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0 0.25rem;
  text-align: center;
}
#preferences_dialog button:hover,
#preferences_dialog button:focus {
  opacity: 0.75;
  cursor: pointer;
}
#preferences_dialog button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}
#preferences_dialog #options_container {
  margin: 20px;
}
#preferences_dialog textarea {
  background-color: white !important;
  width: 100%;
  resize: vertical;
}
#preferences_dialog input[type='text'] {
  background-color: white !important;
  width: 100%;
}
div .inline {
  display: inline;
}
div .watched {
  color: red;
  font-weight: bold;
}
div .str-added {
  background-color: blueviolet;
}
div .str-removed {
  background-color: red;
}
td .mass-delete-releasename {
  max-width: 300px;
  word-wrap: break-word;
}
.tab1 {
  padding-left: 1em;
}
.tab2 {
  padding-left: 2em;
}
.tab3 {
  padding-left: 3em;
}
.tab4 {
  padding-left: 4em;
}
.tab5 {
  padding-left: 5em;
}
