// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 33 times
@color1: #3d3d3d; // Appears 18 times
@color2: #202020; // Appears 15 times
@color3: #0066ff; // Appears 10 times
@color4: #9933ff; // Appears 10 times
@color5: #cccccc; // Appears 10 times
@color6: #666666; // Appears 9 times
@color7: #222222; // Appears 9 times
@color8: #99ff99; // Appears 8 times
@color9: #aaaaaa; // Appears 8 times
@color10: #111111; // Appears 8 times
@color11: #33ff33; // Appears 6 times
@color12: #333333; // Appears 5 times
@color13: #319bc2; // Appears 5 times
@color14: #3cff00; // Appears 4 times
@color15: #000000; // Appears 4 times
@color16: #555555; // Appears 3 times
@color17: #ff7100; // Appears 3 times
@color18: #303030; // Appears 3 times
@color19: #418b00; // Appears 3 times
@color20: #ff1300; // Appears 2 times
@color21: #66ff66; // Appears 2 times
@color22: #e89ba0; // Appears 2 times
@color23: #eeeeee; // Appears 2 times
@color24: #ffff88; // Appears 2 times
@color25: #282828; // Appears 2 times
@color26: #999999; // Appears 2 times
@color27: #161616; // Appears 2 times
@color28: #444444; // Appears 2 times
@color29: #ff5e00; // Appears 2 times
@color30: #9966ff; // Appears 2 times
@color31: #9900cc; // Appears 2 times
@color32: #ffff66; // Appears 2 times
@color33: #ff3300; // Appears 2 times
@color34: #f87431; // Appears 2 times
@color35: #ffff99; // Appears 2 times
@color36: #ffff33; // Appears 2 times
@color37: #cc0000; // Appears 2 times
@color38: #ff00ff; // Appears 2 times
@color39: #00ffcc; // Appears 2 times
@color40: #660033; // Appears 2 times
@color41: #996666; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width0: 22.5em; // Appears 1 time
@width2: 300px; // Appears 1 time
@width3: 400px; // Appears 2 times
@width4: 150px; // Appears 1 time
@width5: 750px; // Appears 1 time
@width6: 120px; // Appears 1 time
@width7: 765px; // Appears 1 time
@width8: 160px; // Appears 1 time
@width9: 140px; // Appears 1 time
@width10: 100px; // Appears 1 time
@width12: 180px; // Appears 1 time
@width14: 690px; // Appears 2 times
@width15: 280px; // Appears 1 time
@width16: 230px; // Appears 1 time
@width18: 270px; // Appears 1 time
@width19: 570px; // Appears 1 time
@width21: 590px; // Appears 2 times
@width22: 250px; // Appears 1 time
@width25: 600px; // Appears 1 time
@width26: 350px; // Appears 1 time
@width28: 100%; // Appears 5 times
@width29: 28px; // Appears 1 time
@width30: 12em; // Appears 1 time
@width31: 86px; // Appears 1 time
@width32: 2px; // Appears 2 times
@width33: 90%; // Appears 1 time
@width34: 1px; // Appears 1 time
@width35: 2%; // Appears 1 time
@width36: 0%; // Appears 1 time
@width37: 960px;


@width1: 1230px; // Appears 1 time
@width27: 100%px; // Appears 1 time
@width23: 1275px; // Appears 1 time
@width24: 850px; // Appears 4 times
@width11: 1200px; // Appears 2 times
@width20: 90%; // Appears 7 times
@width17: 1280px; // Appears 1 time
@width13: 1100px; // Appears 1 time

// Height variables (appears count calculates by raw css)
@height0: 140px; // Appears 2 times
@height2: 30px; // Appears 2 times
@height3: 100%; // Appears 2 times
@height6: 9px; // Appears 3 times

* {
  margin: 0em;
  padding: 0em;
}
html {
  width: @width28;
}
body {
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #1F2122;
  background-image: url('https://cdn.broadcasthe.net/styles/public/images/shadow.png');
  background-attachment: fixed;
  background-size: cover;
  color: #E9E9E9;
  font-family: tahoma, helvetica, sans-serif;
  font-size: 8pt;
  width: @width28;
}
a {
  border: none;
  color: @color26;
  text-decoration: none;
  &:hover {
    color: @color13 !important;
    text-decoration: none;
  }
}
a.similar_artist {
  background-color: @color28;
  border: 1px solid @color0;
  color: @color0;
  display: block;
  padding: 1px 4px;
  &:hover {
    background-color: @color16;
  }
}
.similar_artist_header {
  background-color: @color6;
  border: 1px solid @color0;
  color: @color0;
  padding: 3px 5px;
}
a.permission_15 {
  color: @color14;
  font-weight: bold;
}
.permission_15 {
  color: @color14;
  font-weight: bold;
}
a.permission_42 {
  color: @color14;
  font-weight: bold;
}
.permission_42 {
  color: @color14;
  font-weight: bold;
}
a.permission_1 {
  color: @color11;
  font-weight: bold;
}
.permission_1 {
  color: @color11;
  font-weight: bold;
}
a.permission_11 {
  color: @color8;
}
.permission_11 {
  color: @color8;
}
a.permission_36 {
  color: @color21;
}
.permission_36 {
  color: @color21;
}
a.permission_37 {
  color: @color11;
  color: @color4;
}
.permission_37 {
  color: @color11;
  color: @color4;
}
a.permission_31 {
  color: @color11;
  font-weight: bold;
}
.permission_31 {
  color: @color11;
  font-weight: bold;
}
a.permission_14 {
  color: @color8;
}
.permission_14 {
  color: @color8;
}
a.permission_32 {
  color: @color3;
}
.permission_32 {
  color: @color3;
}
a.permission_26 {
  color: @color3;
}
.permission_26 {
  color: @color3;
}
a.permission_29 {
  color: @color3;
}
.permission_29 {
  color: @color3;
}
a.permission_30 {
  color: @color3;
}
.permission_30 {
  color: @color3;
}
a.permission_34 {
  color: @color3;
}
.permission_34 {
  color: @color3;
}
a.permission_2 {
  color: @color0;
}
.permission_2 {
  color: @color0;
}
a.permission_3 {
  color: @color5;
}
.permission_3 {
  color: @color5;
}
a.permission_4 {
  color: @color35;
}
.permission_4 {
  color: @color35;
}
a.permission_5 {
  color: @color36;
}
.permission_5 {
  color: @color36;
}
a.permission_24 {
  color: @color34;
}
.permission_24 {
  color: @color34;
}
a.permission_7 {
  color: @color33;
}
.permission_7 {
  color: @color33;
}
a.permission_33 {
  color: @color38;
}
.permission_33 {
  color: @color38;
}
a.permission_38 {
  color: @color4;
}
.permission_38 {
  color: @color4;
}
a.permission_6 {
  color: @color4;
}
.permission_6 {
  color: @color4;
}
a.permission_9 {
  color: @color4;
}
.permission_9 {
  color: @color4;
}
a.permission_8 {
  color: @color30;
}
.permission_8 {
  color: @color30;
}
a.permission_28 {
  color: @color31;
}
.permission_28 {
  color: @color31;
}
a.permission_35 {
  color: @color4;
}
.permission_35 {
  color: @color4;
}
a.permission_10 {
  color: @color32;
}
.permission_10 {
  color: @color32;
}
a.permission_12 {
  color: @color37;
}
.permission_12 {
  color: @color37;
}
a.permission_13 {
  color: @color41;
}
.permission_13 {
  color: @color41;
}
a.permission_22 {
  color: @color17;
}
.permission_22 {
  color: @color17;
}
a.permission_25 {
  color: @color40;
}
.permission_25 {
  color: @color40;
}
a.permission_27 {
  color: @color39;
}
.permission_27 {
  color: @color39;
}
h1, h2, h3, h4  {
  font-family: tahoma, helvetica, sans-serif;
  font-weight: bold;
  margin: 5px 0px;
}
h2 {
  color: @color0;
  font-size: 12pt;
  text-align: center;
}
h3 {
  color: @color0;
  font-size: 10pt;
  text-align: center;
}
h4 {
  font-size: 8pt;
}
p {
  margin: 10px 5px;
}
li {
  margin: 5px 15px;
}
input {
  background-color: @color12;
  border: 1px solid @color6;
  color: @color0;
  font-family: Tahoma;
  font-size: 11px;
  outline: none;
  padding: 2px 3px;
  &:hover {
    border: 1px solid @color9;
  }
  &:focus {
    border: 1px solid @color9;
  }
}
select {
  background-color: @color12;
  border: 1px solid @color6;
  color: @color0;
  font-family: Tahoma;
  font-size: 11px;
  outline: none;
  &:hover {
    border: 1px solid @color9;
  }
  &:focus {
    border: 1px solid @color9;
  }
}
textarea {
  background-color: @color12;
  border: 1px solid @color6;
  color: @color0;
  font-family: Tahoma;
  font-size: 11px!important;
  outline: none;
  padding: 2px 3px;
  &:hover {
    border: 1px solid @color9 !important;
  }
  &:focus {
    border: 1px solid @color9 !important;
  }
}
img {
  border: none;
}
.bbcodetextbox {
  -webkit-border-radius: 0px!important;
  border-radius: 0px!important;
}
.r00 {
  color: #FF0000!important;
}
.r01 {
  color: @color20;
}
.r02 {
  color: @color20;
}
.r03 {
  color: #FF2600;
}
.r04 {
  color: #FF4C00;
}
.r05 {
  color: @color29;
}
.r06 {
  color: @color29;
}
.r07 {
  color: @color17;
}
.r08 {
  color: #FF9700;
}
.r09 {
  color: #FFAA00;
}
.r10 {
  color: #74C42E;
}
.r20 {
  color: @color19;
}
.r50 {
  color: @color19;
}
.r99 {
  color: @color19 !important;
}
span.size1 {
  font-size: 0.75em;
}
span.size2 {
  font-size: 1em;
}
span.size3 {
  font-size: 1.25em;
}
span.size4 {
  font-size: 1.5em;
}
span.size5 {
  font-size: 1.75em;
}
span.size6 {
  font-size: 2em;
}
span.size7 {
  font-size: 2.25em;
}
span.size8 {
  font-size: 2.5em;
}
span.size9 {
  font-size: 2.75em;
}
span.size10 {
  font-size: 3em;
}
ul.thin {
  margin: 0px 0px 0px 25px;
  padding: 0px;
  li {
    margin: 0px 0px;
    padding: 0px;
  }
}
#header {
  padding: 0px 0 0 0;
  position: relative;
  width: 100%;
  //width: @width20;
}
#content {
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  width: @width20;
  .home {
    .main_column {
      width: @width21;
      .head {
        width: @width19;
      }
      .of_the_month {
        .head {
          width: @width18;
        }
        .box {
          width: @width15;
        }
      }
    }
    .box {
      -moz-border-radius-bottomleft: 10px;
      -moz-border-radius-bottomright: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin: 42px 5px 10px;
    }
    .head {
      -moz-border-radius-topleft: 6px;
      -moz-border-radius-topright: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border: 1px solid @color7;
      margin-top: -22px;
      position: absolute;
    }
    .sidebar {
      .head {
        width: @width16;
      }
    }
  }
}
#wrapper {
  -moz-border-radius: 0.75em;
  -webkit-border-radius: 0.75em;
  background: url('https://cdn.broadcasthe.net/styles/darknround/images/t2.png');
  border-radius: 0.75em;
  border: 4px solid @color27;
  margin: 5px auto;
  padding: 0px 5px 0px 5px;
  width: @width17;
}
#footer {
  color: @color0;
  margin-top: 40px;
  padding: 1em 0;
  text-align: center;
  width: @width20;
}
#DonInfo {
  font-family: Verdana;
  font-size: 9px;
  text-indent: 3pt!important;
  a {
    color: @color0 !important;
  }
}
#logo {
  background-image: url('https://cdn.broadcasthe.net/styles/darknround/images/banner-alt2.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: @height0;
  margin-bottom: 10px;
  margin-left: 7px;
  width: @width20;
  a {
    border: none;
    display: block;
    height: @height0;
    width: @width20;
    &:hover {
      border: none;
    }
  }
}
#quickpost {
  color: @color23 !important;
  font-size: 11px!important;
}
#userinfo {
  position: relative;
  ul {
    margin-right: 90px;
    li {
      display: inline;
      line-height: 20px;
      margin: 0 0.1em;
      padding: 2px;
      vertical-align: middle;
    }
  }
  a {
    color: @color0;
    &:hover {
      text-decoration: none;
    }
  }
  b {
    a {
      font-size: 0.9em;
      font-weight: normal;
    }
  }
  span.stat {
    color: @color0;
  }
}
#userinfo_username {
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  background-color: @color2;
  border-radius: 1.25em;
  border: 1px solid @color2;
  color: @color13;
  font-weight: bold;
  list-style: none;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 5px;
  position: absolute;
  right: 160px;
  text-shadow: 1px 1px 1px @color10;
  top: -145px;
  z-index: 1001;
  li {
    display: block!important;
    padding: 0 25px 0 0!important;
    text-align: right;
  }
  .brackets {
    &:before {
      content: "[";
    }
    &:after {
      content: "]";
    }
  }
}
#userinfo_stats {
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  background-color: @color2;
  border-radius: 1.25em;
  border: 1px solid @color2;
  color: @color13;
  display: inline;
  font-weight: bold;
  list-style: none;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 5px;
  position: absolute;
  right: 65px;
  text-align: left;
  text-shadow: 1px 1px 1px @color10;
  top: -50px;
  width: auto;
  z-index: 1001;
}
#userinfo_major {
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  background-color: @color2;
  border-radius: 1.25em;
  border: 1px solid @color2;
  color: @color13;
  display: block;
  list-style: none;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 5px;
  position: absolute;
  right: 65px;
  text-shadow: 1px 1px 1px @color10;
  top: -145px;
  z-index: 1001;
  li {
    display: block!important;
    padding: 0 0 0 25px!important;
    text-align: left;
  }
  a {
    font-weight: bold;
  }
  .brackets {
    &:before {
      content: "[";
      font-weight: bold;
    }
    &:after {
      content: "]";
      font-weight: bold;
    }
  }
}
#userinfo_minor {
  font-size: 8pt;
  left: 50%;
  list-style-type: none;
  margin-left: -492px;
  padding: 2px 5px 2px 5px;
  position: absolute;
  text-align: right;
  top: -119px;
  width: @width23;
  z-index: -1;
  a {
    color: @color0;
    margin-right: 2px;
    &:hover {
      color: @color0;
    }
  }
}
#searchbars {
  padding: 4px 0px;
  text-align: center;
  width: @width27;
  input {
    background-color: @color12;
    border: 1px solid @color28;
    box-shadow: 0 0 3px black inset;
    color: #777777;
    font-size: 0.9em;
    padding: 5px 5px 5px 5px;
    position: relative;
    &:hover {
      border: 1px solid @color16;
      color: #dddddd;
    }
    &:focus {
      border: 1px solid @color26;
      color: @color0;
    }
  }
  ul {
    margin: 0 auto;
    li {
      display: inline;
      margin: 0px 1px;
      padding: 10px;
      form {
        display: inline;
      }
    }
  }
}
#alerts {
  margin: 5px auto;
  width: @width20;
  a {
    color: @color5;
  }
}
.alertbar.blend {
  background-color: @color7;
  border: 1px solid @color18;
}
.newmem {
  background-color: @color7;
  color: @color5;
  font-size: 0.95em;
  font-weight: bold;
  margin: 0px auto;
  padding: 5px;
  text-align: center;
  width: @width26;
}
#cat-selector {
  ul {
    width: @width28;
    li {
      display: inline;
      float: left;
      height: 1em;
      width: @width30;
    }
  }
}
div.bbcode-btntoolbar {
  background: none repeat scroll 0 0 @color2 !important;
  border-left: 0px hidden!important;
  border-right: 0px hidden!important;
}
div.bbcode-smileys {
  background: none repeat scroll 0 0 @color2 !important;
  border-left: 0px hidden!important;
  border-right: 0px hidden!important;
}
div.contenth {
  textarea {
    background: @color25 !important;
    border: 1px solid #3c3c3c !important;
    &:hover {
      border: 1px solid @color9 !important;
    }
    &:focus {
      border: 1px solid @color9 !important;
    }
  }
}
.headh {
  border-left: 0px hidden!important;
  border-right: 0px hidden!important;
}
.alertbar {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: @color2;
  background-color: @color7;
  border-radius: 0.875em;
  border: 1px solid @color2;
  color: @color5;
  font-size: 0.95em;
  font-weight: bold;
  list-style: none;
  margin: 0px auto;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding: 7px;
  text-align: center;
  width: @width25;
  a {
    color: @color16;
    text-decoration: underline;
    &:hover {
      color: @color24;
      text-decoration: none;
    }
  }
}
.hidden {
  left: -10000px;
  position: absolute;
}
input.hidden {
  display: none;
  position: absolute;
}
.thin {
  margin: auto;
  width: @width24;
}
div.linkbox {
  padding: 5px;
  text-align: center;
}
.center {
  text-align: center;
  h3 {
    font-size: 10pt;
    padding-top: 4px;
  }
}
.right {
  text-align: right;
}
.min_padding {
  margin: 0px 0px;
  padding: 0px;
}
p.min_padding {
  margin: 2px 0px;
}
.pad {
  padding: 1em;
}
.ui-state-hover {
  color: @color15 !important;
}
a.ui-state-hover {
  color: @color15 !important;
}
li.ui-state-hover {
  color: @color15 !important;
}
.vertical_space {
  margin-bottom: 10px;
}
.box {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: @color2;
  border-radius: 0.875em;
  border: 1px solid @color2;
  color: white;
  font-size: 8pt;
  list-style: none;
}
.welcome {
  background-color: @color25;
  border: 1px solid @color18;
  font-size: 10pt;
}
.pad h3, .pad h4, .padbox h3, .padbox h4  {
  margin-top: 0px;
  padding-top: 0px;
}
.contenth, .b1h, .b2h, .b2bh, .b3h, .b3bh, .b4h, .b4bh  {
  background: none repeat scroll 0 0 @color2 !important;
}
.contenth {
  border-left: 0px hidden!important;
  border-right: 0px hidden!important;
  color: @color0 !important;
}
.sidebar {
  float: right;
  height: @height3;
  width: @width22;
  .box {
    margin: 0px 5px 10px 5px;
  }
}
.head {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: @color1;
  border-radius: 0.875em;
  border: 1px solid @color1;
  color: @color0;
  font-weight: bold;
  list-style: none;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
.body {
  padding: 3px 10px 10px 10px;
}
.main_column {
  float: left;
  margin: 0px 0px 10px 0px;
  width: @width21;
  .box {
    margin-bottom: 10px;
  }
  table {
    margin-bottom: 10px;
  }
}
.tags {
  font-style: italic;
  padding: 0px 0px 0px 20px;
  a {
    color: #7e7e7e;
    &:hover {
      color: @color24;
      text-decoration: none;
    }
  }
}
.noborder {
  border: none;
}
ul.nobullet {
  list-style-type: none;
}
table {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: @color1;
  border-radius: 0.875em;
  border: 1px solid @color1;
  list-style: none;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  width: @width28;
}
tr {
  background-color: @color2;
  border: 1px solid @color1;
}
tr.rowa {
  background-color: @color7;
}
td {
  border: 1px solid @color1;
  padding: 5px;
}
td.tdleft {
  border: 1px solid @color1;
  padding: 5px;
  text-align: left;
}
td.tdcenter {
  border: 1px solid @color1;
  padding: 5px;
  text-align: center;
}
td.tdright {
  border: 1px solid @color1;
  padding: 5px;
  text-align: right;
}
.forum_group_header {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: @color1;
  border-radius: 0.875em;
  border: 1px solid @color1;
  color: @color0;
  font-weight: bold;
  list-style: none;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
}
.colhead {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: @color1;
  border-radius: 0.875em;
  border: 1px solid @color1;
  color: @color0;
  font-weight: bold;
  list-style: none;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  td {
    padding-left: 10px;
    padding-right: 10px;
  }
  .sign {
    font-size: 12pt;
    font-weight: bold;
    padding: 0px 8px 0px 8px;
    text-align: center;
    vertical-align: middle;
  }
}
td.colhead {
  padding-left: 10px;
  padding-right: 10px;
}
.colhead_dark {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: @color1;
  border-radius: 0.875em;
  border: 1px solid @color1;
  color: white;
  font-weight: bold;
  list-style: none;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  vertical-align: middle;
  a {
    color: @color0;
  }
  .sign {
    font-size: 12pt;
    font-weight: bold;
    padding: 0px 8px 0px 8px;
    text-align: center;
    vertical-align: middle;
  }
}
ul.navigation {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: @color1;
  border-radius: 0.875em;
  border: 1px solid @color1;
  color: white;
  font-weight: bold;
  list-style: none;
  margin: 0px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  text-align: center;
  li {
    display: inline;
    margin-right: 10px;
  }
  a {
    color: @color0;
    padding: 5px;
    text-decoration: none;
    &:hover {
      background-color: @color7 !important;
      color: @color15;
    }
    &:focus {
      background-color: @color10 !important;
      color: @color0 !important;
      outline: none;
    }
  }
  a.selected {
    background-color: @color10 !important;
    color: @color0 !important;
  }
}
td.label {
  font-weight: bold;
  text-align: right;
  width: @width12;
}
table.slice {
  margin-top: -1px;
}
.error_message {
  background-color: #AF2525;
  border: 1px solid @color6;
  color: white;
  font-weight: bold;
  padding: 3px 0px 3px 0px;
  text-align: center;
}
.save_message {
  background-color: #F4E649;
  border: 1px solid @color6;
  color: #492802;
  font-weight: bold;
  padding: 3px 0px 3px 0px;
  text-align: center;
}
.elem_error {
  border: 3px solid #B00D0D;
}
.hide {
  display: none;
}
ul.stats {
  li {
    padding: 0px 0px 1px 0px;
  }
}
ul.poll {
  li {
    margin: 0px;
    padding: 0px 0px 0px 10px;
  }
  li.graph {
    margin-bottom: 3px;
    padding-left: 20px;
  }
}
.show_torrents_link {
  border: none;
  display: block;
  height: 28px;
  width: @width29;
}
.filter_torrents {
  margin: auto;
  width: @width5;
  .submit {
    padding-top: 5px;
    text-align: right;
  }
}
.cat_list {
  tr {
    td {
      border: none;
    }
  }
}
.torrent_table {
  tr {
    vertical-align: top;
    .center {
      text-align: center;
      vertical-align: middle;
    }
  }
  tr.group_torrent {
    background-color: @color7;
    .year {
      float: right;
    }
    td {
      a {
        span {
          float: left;
          white-space: pre;
        }
      }
    }
    &:hover {
      background-color: @color1;
    }
  }
  tr.group_torrent.first {
    border-top-width: 4px;
  }
  td.group {
    border: none;
  }
  .group {
    background-color: #2b2b2b;
  }
  div.tags {
    font-weight: normal;
  }
}
tr.torrent {
  background-color: @color7;
}
.season {
  color: #ff2419;
}
.episode {
  color: #385cf7;
}
.number {
  text-align: right;
}
.group_torrent {
  span {
    float: right;
  }
}
.torrent {
  span {
    float: right;
    font-weight: normal;
    img {
      vertical-align: text-top;
    }
  }
}
.nobr {
  white-space: nowrap;
}
.TS {
  color: #ff00c8;
}
.MPEG {
  color: #ff0050;
}
.MP4 {
  color: #be0000;
}
.MKV {
  color: #ff4100;
}
.M4V {
  color: #ff6e00;
}
.AVI {
  color: #ffaf00;
}
.Internal {
  color: #58ff00;
}
.None {
  color: @color22;
}
.\0D\0D\0D {
  color: @color22;
}
.P2P {
  color: #ae83cc;
}
.Scene {
  color: #95ccb6;
}
.User {
  color: #faf18b;
}
table.forum_post {
  margin: 10px 0px;
  td {
    border: 1px solid @color18;
  }
  td.body {
    width: @width14;
  }
}
table.forum_unread {
  border: 2px solid @color5;
}
td.avatar {
  padding: 0px;
  width: @width4;
}
tbody {
  //max-width: @width14;
}
blockquote {
  border: 1px dashed @color6;
  margin: 10px;
  padding: 10px;
}
.signature {
  border-top: 1px dotted @color6;
  margin: 2em 0 0 0;
  padding: .5em 0 0 0;
}
div.user_details {
  padding: 5px;
}
tr.unreadpm {
  background-color: #692222;
}
.permission_head {
  margin-left: auto;
  margin-right: auto;
  width: @width3;
}
.permissions {
  margin-left: auto;
  margin-right: auto;
  width: @width1;
}
.permission_container {
  float: left;
  padding: 5px;
  width: @width2;
  input {
    margin: 0px 3px 5px 0px;
    vertical-align: top;
  }
}
.submit_container {
  clear: both;
  text-align: right;
}
ul {
  .invitetree {
    margin: 0px 0px 0px 25px;
  }
}
.invitetree {
  li {
    list-style: none;
    margin: 10px 2px;
  }
}
#left_poll {
  background: url('http://static.broadcasthe.net/styles/smpte/bar_left.gif') no-repeat center center;
  float: left;
  height: @height6;
  margin: 0px;
  padding: 0px;
  width: @width32;
}
#center_poll {
  background: #3E3E3E;
  float: left;
  height: @height6;
  margin: 0px;
  padding: 0px;
}
#right_poll {
  background: url('https://cdn.broadcasthe.net/styles/smptev2/images/bar_right.gif') no-repeat center center;
  float: left;
  height: @height6;
  margin: 0px;
  padding: 0px;
  width: @width32;
}
.curtain {
  -moz-opacity: 0.8;
  background-color: black;
  display: none;
  filter: alpha(opacity=80);
  height: @height3;
  left: 0%;
  opacity: .80;
  position: fixed;
  top: 0%;
  width: @width28;
  z-index: 1001;
}
.lightbox {
  display: none;
  height: 90%;
  left: 5%;
  overflow: auto;
  padding: 0px;
  position: fixed;
  text-align: center;
  top: 5%;
  width: @width33;
  z-index: 1002;
}
table#torrent_table.torrent_table {
  margin: auto;
  //width: @width24;
  width: 1100px;
}
form {
  tr {
    background-color: @color7;
  }
}
pre {
  border: 1px dashed @color6;
  color: @color0;
  margin: 10px;
  padding: 10px;
}
#donation {
  color: @color12;
  display: inline;
  font-size: 8pt;
  padding: 0.6em 0;
  position: absolute;
  right: 130px;
  text-align: center;
  top: 75px;
  width: @width6;
  z-index: 1002;
}
#forums {
  .box {
    margin: 0 auto;
    width: @width24;
  }
}
.tickets_search {
  font-size: 8pt;
  margin-left: auto;
  margin-right: auto;
}
.tickets_categories {
  float: left;
  padding: .5em;
  text-align: left;
}
.tickets_status {
  float: right;
  padding: 0.5em;
  text-align: left;
}
.small_label {
  font-weight: bold;
  text-align: right;
  width: @width36;
}
.filter_tickets {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: @width24;
  .submit {
    padding-top: 5px;
    text-align: right;
  }
}
.rank {
  font: small-caps 2.4em Georgia, "Times New Roman", Times, serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  position: relative;
  text-align: center;
  width: @width31;
  img {
    clear: both;
  }
}
.rankimghide {
  display: none;
  margin: 0px;
  padding: 0px;
}
.review_row {
  margin: 10px 25px;
}
.inline_rank {
  font: small-caps 1.4em Georgia, "Times New Roman", Times, serif;
  left: 14px;
  position: relative;
  top: 80px;
  img {
    width: @width35;
  }
}
.review_title {
  font: small-caps 2.1em Georgia, "Times New Roman", Times, serif;
  margin-left: 17px;
}
.review_body {
  float: right;
  margin: 6px 0px 0px 0px;
  overflow: auto;
  padding: 1px;
  width: @width7;
}
.review_details {
  float: right;
  font-style: italic;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-top: 5px;
}
.review_search {
  margin: auto;
  text-align: center;
  width: @width11;
  input {
    text-align: center;
    width: @width3;
  }
}
#searchbutton {
  display: none;
}
.left_tabs {
  float: left;
  width: @width10;
}
a.tab {
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  background-color: rgba(69, 69, 69, 0.35);
  color: @color0;
  display: block;
  font-weight: bold;
  padding: 4px;
  text-align: center;
  text-transform: lowercase;
  &:hover {
    background-color: rgba(69, 69, 69, 0.55);
    text-decoration: none;
  }
}
.home {
  .sidebar {
    float: left;
  }
  .main_column {
    float: right;
    margin: 0px 0px 10px 0px;
  }
  .box>.pad {
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid @color10;
  }
  .box>ul {
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid @color10;
  }
  .extrapad {
    padding: 1em;
  }
  table {
    border: 0;
  }
  th {
    padding: 5px;
    text-align: left;
    &:first-child {
      -moz-border-radius-topleft: 6px;
      border-right: 1px solid black;
      border-top-left-radius: 6px;
    }
    &:last-child {
      -moz-border-radius-topright: 6px;
      border-left: 1px solid black;
      border-top-right-radius: 6px;
    }
  }
  td {
    border: 0;
  }
  tr.colhead {
    border-bottom: 1px solid black;
    border: 0;
  }
  .of_the_month {
    ul {
      font-size: 130%;
      b {
        color: white;
      }
    }
  }
  .month_rating {
    font-family: "Arial Black";
    font-size: 40px;
  }
}
a.tab#selected {
  background-color: rgba(145, 168, 175, 0.3);
}
div.thin2 {
  float: left;
  margin: auto;
  width: @width11;
}
#menu {
  -moz-border-radius: 0.875em;
  -webkit-border-radius: 0.875em;
  background-color: @color2;
  border-radius: 0.875em;
  border: 1px solid @color27;
  font-size: 1em;
  line-height: @height2;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: -26px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  text-align: center;
  text-shadow: 1px 1px 1px @color10;
  width: @width37;
  ul {
    li {
      a {
        color: @color0;
        font-weight: bold;
        &:hover {
          color: @color0;
          text-decoration: none;
        }
      }
    }
  }
}
#menu1 {
  display: inline-block;
  list-style: none;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: left;
}
.potato-menu {
  &:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0.1em;
    height: 0.1px;
    line-height: 0;
    visibility: hidden;
  }
}
ul.potato-menu {
  li.potato-menu-item {
    display: inline;
    float: left;
    list-style-position: outside;
    list-style: none;
    margin: 0!important;
    position: relative;
    a {
      display: block;
      height: @height2;
      line-height: @height2 !important;
      outline: 0;
      overflow: hidden!important;
      padding: 0 20px;
      text-decoration: none;
      vertical-align: middle;
      white-space: nowrap;
    }
  }
  ul.potato-menu-group {
    -webkit-padding-end: 0;
    -webkit-padding-start: 0;
    background: rgba(5, 5, 5, 0.85);
    display: none;
    margin: 0;
    padding: 0!important;
    position: absolute;
    text-align: left;
    width: @width8;
    z-index: 1000;
    li {
      margin: 0!important;
      padding: 0!important;
    }
    a {
      display: block!important;
      padding: 0px 10px!important;
      width: @width9;
      &:hover {
        background-color: rgba(40, 40, 40, 0.85) !important;
        background-image: none!important;
        color: @color13 !important;
      }
    }
  }
}
div#twitter {
  margin-bottom: 2em;
  padding-bottom: 1px;
  width: @width0;
  h2 {
    color: @color0;
    font-size: 1.1em;
    margin: 0;
    padding: 0.4em 1em;
  }
}
p#preloader {
  margin: 0;
  padding: 1em 1em 1em 3em;
}
ul#twitter_update_list {
  list-style-type: none;
  margin: 0;
  padding: 0 1em 0.5em 1em;
  li {
    border-bottom: 1px solid @color5;
    margin: 0;
    padding: 0.8em 0 1em 0;
    a {
      color: @color0;
    }
    span {
      display: block;
      a {
        color: @color5;
      }
    }
  }
  li.lastTweet {
    border-bottom: none;
  }
}
.profileLink {
  a {
    border-top: 1px solid @color5;
    color: @color0;
    display: block;
    padding: 0.3em 1em;
  }
}
div#gift {
  height: 1px;
  left: 895px;
  position: relative;
  top: 130px;
  width: @width34;
  z-index: 999;
}
.button {
  background: url("https://cdn.broadcasthe.net/styles/smptev2/images/buttons.gif") no-repeat scroll center -34px transparent;
  border: 0 solid #131313;
  color: @color23;
  height: @height2;
  letter-spacing: 1px;
  line-height: 16px;
  overflow: visible;
  padding: 5px 12px;
  text-transform: uppercase;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input  {
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid @color5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus  {
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}
#reseed.hide {
  display: block;
}
a.permission_46 {
  color: @color8;
}
.permission_46 {
  color: @color8;
}
a.permission_45 {
  color: @color8;
}
.permission_45 {
  color: @color8;
}


#torrents .sign{
  position:relative;
  width:15px;
  height:15px;
  background-position:center;
  text-align:center
}
#torrents .sign img{
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter:alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
  opacity:0;
  width: 15px;
  height: 15px;
}
#torrents {
  & .sign:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 11px;
    height: 15px;
    background: url(https://cdn.broadcasthe.net/styles/smptev3/images/seeders.png) no-repeat center;
    background-size: 11px 15px
  }
  & .sign:nth-child(3n):after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    background: url(https://cdn.broadcasthe.net/styles/smptev3/images/snatched.png) no-repeat center;
  }
  & .sign:nth-child(4n):after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 11px;
    height: 15px;
    background: url(https://cdn.broadcasthe.net/styles/smptev3/images/leechers.png) no-repeat center;
    background-size: 11px 15px
  }
}


div.leftbar {
  margin-left: 160px;
  li {
    list-style-type: none;
  }
}